[class*="col-"] {
  float: left;
  padding: 15px;
}

.container {
  min-width: 1300px;
  width: 1300px;
  height: 3000px;
  margin: 0 auto;
}

.gridContainer {
  display: grid;
}

/* .gridItem {
} */

.slideGridContainer {
  display: grid;
  grid-template-columns: 350px;
  padding-left: 5px;
}

.slideGridItem {
  font-size: 14px;
  text-align: left;
}

.slidecontainer {
  width: 100%;
}

.slider {
  margin-top: 6px;
  width: 180px;
  -webkit-appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 30px;
  background: #aa0000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #aa0000;
  cursor: pointer;
}

.anomaly_slider {
  position: relative;
  left: 15%;
  margin-top: 6px;
  width: 530px;
  -webkit-appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.anomaly_slider:hover {
  opacity: 1;
}

.anomaly_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 30px;
  background: #aa0000;
  cursor: pointer;
}

.anomaly_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #aa0000;
  cursor: pointer;
}

.ArrowButtons_anomaly {
  background-color: #aa0000;
  border: none;
  color: white;
  padding-left: 6px;
  padding-right: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  left: 80px;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
  padding: 0;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

body {
  color: #444;
  font: 100%/30px "Helvetica Neue", helvetica, arial, sans-serif;

  background-color: #434343;
  background-position: center;
  background-size: cover;
  height: 100%;
}

#module_style_canvas {
  width: 800px;
  background: #ffffff;
  padding: 1em;
  margin: 1em auto;
  min-height: 600px;
  border-top: 5px solid #aa0000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

#module_style_controls {
  background: #ffffff;
  margin: 1em 25px;
  border-top: 5px solid #aa0000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

#module_style_dataACQ {
  background: #ffffff;
  margin: 1em 25px;
  border-top: 5px solid #aa0000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}
h1 {
  margin-top: 0;
}
img {
  max-width: 100%;
  user-zoom: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#fileDisplayArea {
  margin-top: 2em;
  width: 100%;
  overflow-x: auto;
}

#stats {
  left: auto;
  border-collapse: collapse;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 700px;
  padding-left: 40px;
}

#stats td {
  border: 1px solid #ddd;
  width: 25%;
}
#stats tr:nth-child(even) {
  background-color: #e9e9e9;
}
#stats tr:hover {
  background-color: #bbb;
}

#stats2 {
  border-collapse: collapse;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 250px;
  padding-left: 40px;
}

#stats2 td {
  border: 1px solid #ddd;
  width: 50%;
}
#stats2 tr:nth-child(even) {
  background-color: #e9e9e9;
}
#stats2 tr:hover {
  background-color: #bbb;
}

.ArrowButtons {
  background-color: #aa0000;
  border: none;
  color: white;
  padding-left: 6px;
  padding-right: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.rotate90 {
  transform: rotate(90deg);
}
.rotate180 {
  transform: rotate(180deg);
}
.rotate270 {
  transform: rotate(270deg);
}

@media only screen and (max-width: 950px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .slideGridContainer {
    display: grid;
    grid-template-columns: 300px;
    padding: 1px;
    padding-left: 50px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-x:auto;
  background-color: rgb(0, 0, 0); /*Fallback color*/
  background-color: rgba(0, 0, 0, 0.4); /*Black w/ opacity*/
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0% auto; /* 15% from the top and centered */
  padding: 0px;
  border: 1px solid #888;
  /* width: 80%; Could be more or less, depending on screen size */
}

.modal-body{
  overflow-x: auto;
}
/* .modal-footer{
  overflow: scroll;
} */
/* The Close Button */
.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



 /* The Modal (background) */
            .modal {
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 1; /* Sit on top */
              padding-top: 100px; /* Location of the box */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }
            
            /* Modal Content */
            .modal-content {
              background-color: #fefefe;
              margin: auto;
              padding: 20px;
              border: 1px solid #888;
              width: 90%;
            }
            
            /* The Close Button */
            .close {
              color: #aaaaaa;
              float: right;
              font-size: 28px;
              font-weight: bold;
            }
            
            .close:hover,
            .close:focus {
              color: #000;
              text-decoration: none;
              cursor: pointer;
            }

            div.scrollmenu {
                
                overflow: auto;
                white-space: wrap;
            }

            div.scrollmenu a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
            }

            div.scrollmenu a:hover {
            background-color: #777;
            }

            .modal-background 
            {
                border: 1px solid #000000;
            }



            .anomaly_control
{
    margin-top: 15px;
    background-color: #e9e9e9;
    border: 1px solid #ddd;
    z-index: 0;
}

/* Mozilla Firefox Only CSS */
@-moz-document url-prefix()
{
    .anomaly_control
    {
        margin-top: 15px;
    }
}
/* Edge Only CSS */
@supports (-ms-ime-align:auto)
{
    .anomaly_control
    {
        margin-right: 10px;
    }
}